<a href="https://colab.research.google.com/github/jkdeka/python_prep/blob/main/PY_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sub string oprerations

In [ ]:
s='001010110001'

In [ ]:
#approach 1
def find_substr1(s, start, end):
  print(s)
  ss_list = []
  index_list_st =[i for i, c in enumerate(s) if c==start]
  index_list_end =[i for i, c in enumerate(s) if c==end]
 # print("Start list: "+str(index_list_st) +"\n" +"end list"+str(index_list_end))
  for st_place in index_list_st:
    for end_place in index_list_end:
      if st_place<end_place:
        ss_list.append(s[st_place:end_place+1])
  #print(ss_list)
#approach 2 if both start & end char is same
def find_substr2(s, start_end):
  ss_list = []
  index_list = [i for i, c in enumerate(s) if c==start_end]
  for i in range(len(index_list)-1):
    start = index_list[i]
    j=i+1
    while(j<len(index_list)):
      next = index_list[j]
      j=j+1
     # print(start, next)
      ss_list.append(s[start:next+1])
  print(ss_list)
#approach 3 if both start & end char is same
def find_substr3(s, start_end):
  ss_list = []
  for i in range(len(s)):
    if s[i]=='1':
      for j in range(i+1,len(s)):
        if s[j]=='1':
          ss_list.append(s[i:j+1])
print(ss_list)

find_substr1('1010101','1','1')  
#find_substr2('1010101','1')
#find_substr3('1010101','1')

['101', '101001', '1010011', '1001', '10011', '11']
1010101

# find Next square using yield

In [ ]:
def nextSquare():
    i = 1
  
    # An Infinite loop to generate squares 
    while True:
        yield i*i                
        i += 1  # Next execution resumes 
                # from this point     
  
# Driver code to test above generator 
# function
for num in nextSquare():
    if num > 100:
         break    
    print(num)

1
4
9
16
25
36
49
64
81
100

# dictionary operations

In [ ]:
# input -> {1:[2,8,11,10,0,5],2:[1,7,11,14,8,15],3:[1,10,21,12,7,15]}
import pandas as pd
df = pd.DataFrame({1:[2,8,11,10,0,5],2:[1,7,11,14,8,15],3:[1,10,21,12,7,15]})
df.head()

    1   2   3
0   2   1   1
1   8   7  10
2  11  11  21
3  10  14  12
4   0   8   7

In [ ]:
#df.applymap(lambda x:'0'+str(x) if len(str(x))<2 else str(x))
#df.applymap(lambda x:str(x) if x>9 else '0'+str(x))
df.applymap(lambda x:f'{x:0>2}')

    1   2   3
0  02  01  01
1  08  07  10
2  11  11  21
3  10  14  12
4  00  08  07
5  05  15  15